{
  "extends": "stylelint-config-standard",
  "overrides": [{
    "customSyntax": "@linaria/postcss-linaria",
    "files": ["*.js", "src/**/*.js"]
  }],
  "rules": {
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-opening-brace-newline-after": "always",
    "color-hex-case": "upper",
    "comment-empty-line-before": null,
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-trailing-semicolon": "always",
    "function-comma-space-after": "always",
    "function-comma-space-before": "never",
    "no-invalid-double-slash-comments": null,
    "rule-empty-line-before": null,
    "selector-class-pattern": null,
    "selector-type-no-unknown": [true, {
      "ignoreTypes": ["extended"]
    }],
    "selector-id-pattern": null,
    "string-quotes": "single"
  }
}
